.header {
    font-size: 33px;
    padding-left: 50px;
}

.smallHeader {
    font-size: 28px;
    padding-right: 50px;
    width: 30vw;
    justify-content: space-between;
}

@media (max-width: 1780px) {
    .header {
        font-size: 30px;
        padding-left: 40px;
    }
    
    .smallHeader {
        font-size: 22px;
        width: 28vw;
        padding-right: 30px;
    }
    
}

@media (max-width: 1440px) {
    .header {
        font-size: 25px;
        padding-left: 40px;
    }
    
    .smallHeader {
        font-size: 18px;
        width: 32vw;
        padding-right: 30px;
    }
    
}

@media (max-width: 1024px) {
    .header {
        font-size: 25px;
        padding-left: 20px;
    }
    
    .smallHeader {
        font-size: 20px;
        width: 37vw;
        padding-right: 20px;
    }
}


@media (max-width: 768px) {
    .header {
        font-size: 20px;
        padding-left: 20px;
    }
    
    .smallHeader {
        font-size: 15px;
        width: 45vw;
        padding-right: 10px;
    }

}

@media (max-width: 500px) {
    .header {
        font-size: 15px;
        padding-left: 20px;
    }
    
    .smallHeader {
        font-size: 12px;
        width: 65vw;
        padding-right: 8px;
    }

}


@media (max-width: 320px) {
    .header {
        font-size: 13px;
        padding-left: 10px;
    }

    .smallHeader {
        font-size: 10px;
        width: 70vw;
        padding-right: 10px;
    }

}