.header {
    font-size: 33px;
    padding-left: 50px;
}

.smallHeader {
    font-size: 28px;
    padding-right: 50px;
    width: 30vw;
    justify-content: space-between;
}

@media (max-width: 1780px) and (min-width: 1441px){
    .header {
        font-size: 30px;
        padding-left: 40px;
    }
    
    .smallHeader {
        font-size: 22px;
        width: 35vw;
        padding-right: 30px;
    }
    
}

@media (max-width: 1440px) and (min-width: 1025px){
    .header {
        font-size: 25px;
        padding-left: 40px;
    }
    
    .smallHeader {
        font-size: 18px;
        width: 36vw;
        padding-right: 30px;
    }
    
}

@media (max-width: 1024px) and (min-width: 769px){
    .header {
        font-size: 25px;
        padding-left: 20px;
    }
    
    .smallHeader {
        font-size: 15px;
        width: 53vw;
        padding-right: 20px;
    }
}


@media (max-width: 768px) and (min-width: 501px){
    .header {
        font-size: 20px;
        padding-left: 20px;
    }
    
    .smallHeader {
        font-size: 12px;
        width: 71vw;
        padding-right: 10px;
    }

}

@media (max-width: 500px) and (min-width: 321px){
    .header {
        font-size: 12px;
        padding-left: 15px;
    }
    
    .smallHeader {
        font-size: 8px;
        width: 85vw;
    }

}


@media (max-width: 320px) {
    .header {
        font-size: 13px;
        padding-left: 10px;
    }

    .smallHeader {
        font-size: 10px;
        width: 70vw;
        padding-right: 10px;
    }

}